<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增博客</title>
    <link rel="stylesheet" href="/source/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/source/common.css">
    <link rel="stylesheet" href="/admin/topic/admin.css">
</head>
<body>
<div class="nav-outer">
    <div class="nav-inner">
        <a class="brand" href="/">
            <img src="/images/cnode.jpg">
        </a>
        <form id="search-form" class="navbar-search">
            <input type="text" name="q" class="search-input" value="">
        </form>

        <ul class="pull-right nav-bar">
            <li><a href="/">首页</a></li>
            <li><a href="/admin">管理员</a></li>
            <li><a href="/theme">主题</a></li>
            <li><a href="/about" target="">关于</a></li>
            <li><a href="/login">注册</a></li>
            <li><a href="/login">登录</a></li>
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="slide">
        <div class="panel">
            <div class="header">
                <span class="col_fade">个人信息</span>
            </div>
            <div class="inner">
                <div class="user-card">

                </div>
            </div>

        </div>
        <div class="panel">
            <div class="inner">
                <a href="/theme/new" id="id-create-theme">
                    <span class="span-success">发布话题</span>
                </a>
            </div>
        </div>
        <div class="panel">
            <div class="inner">
                <p>CNode：Node.js专业中文社区</p>
                <div>
                    您可以
                    <a href="/login">登录</a>
                    或
                    <a href="/login">注册</a>
                </div>
            </div>
        </div>

	    <div class="panel friends_chain">

	    </div>
	    <div class="panel client_app">

	    </div>

    </div>

    <div class="content">
        <div class="panel edit-user-info">
            <div class="header">
                <div class="">
                    <span class="col_fade">编辑topic</span>
                </div>
            </div>
            <div class="inner">
                <div class="div-tag">
                    <h1>论坛topic的增删</h1>
                    <ul class="list-tag"></ul>
                    <label for="id-cn-new" class="col-sm-2 control-label">中文名称</label>
                    <input type="text" id="id-cn-new" class="form-control col-sm-10">
                    <label for="id-en-new" class="col-sm-2 control-label">英文名称</label>
                    <input type="text" id="id-en-new" class="col-sm-10 form-control">
                    <button class="btn btn-default button-topic-add" type="button">添加Topic</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-footer"></div>

<script src="/source/jquery-3.2.1.js"></script>
<script src="/source/bootstrap/js/bootstrap.js"></script>
<script src="/source/hu.js"></script>
<script src="/source/common.js"></script>
<script src="/admin/topic/init.js"></script>
<script src="/admin/topic/admin.js"></script>
</body>
</html>