
.all-reply .reply-item {
    background: #fff;
    border-top: 1px solid #f0f0f0;
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.all-reply .user-avatar img {
    width: 30px;
    height: 30px;
}

.author-content .user-avatar {
    display: inline-block;
    float: left;
    color: #08c;
    text-decoration: none;
}

.author-content .user-info {
    margin-left: 10px;
    display: inline-block;
}

.reply-author {
    color: #666;
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
}

.reply-time {
    font-size: 11px;
    color: #08c;
    text-decoration: none;
}

.user-action {
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

.user-action span {
    margin-left: 5px;
}

.icon-reply-up {
    cursor: pointer;
}

.reply-content {
    padding-left: 50px;
    color: #333;
}

.theme-header .changes span:before {
    content: " • ";
}

.content .panel.theme-main {
    margin-bottom: 20px ;
}
.markdown-body {
    padding: 5px 10px;
    font-size: 14px;
}
pre {
    font-size: 13.5px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.reply_content {
    padding-left: 30px;
}