.theme-full-title {
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
    line-height: 130%;
}

.theme-header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}

.theme-header .changes {
    font-size: 12px;
    color: #838383;
	position: relative;
}

.div-submit {
    margin-top: 20px;
}

.all-reply .reply-item {
    background: #fff;
    border-top: 1px solid #f0f0f0;
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.all-reply .user-avatar img {
    width: 30px;
    height: 30px;
}

.author-content .user-avatar {
    display: inline-block;
    float: left;
    color: #08c;
    text-decoration: none;
}

.author-content .user-info {
    margin-left: 10px;
    display: inline-block;
}

.reply-author {
    color: #666;
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
}

.reply-time {
    font-size: 11px;
    color: #08c;
    text-decoration: none;
}

.user-action {
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

.user-action span {
    margin-left: 5px;
}

.icon-reply-up {
    cursor: pointer;
}

.reply-content {
    padding-left: 50px;
    color: #333;
}

.theme-header .changes span:before {
    content: " • ";
}


.button-theme-collect {
	position: absolute;
	right: 1px;
	bottom: 1px;
	border: none;
	display: inline-block;
	float: none;
	padding: 3px 10px;
	margin: 0;
	font-size: 14px;
	letter-spacing: 2px;
	box-shadow: none;
	line-height: 2em;
	vertical-align: middle;
	color: #fff;
	border-radius: 3px;
	background-color: #80bd01;
}
.button-theme-collect.collect-success {
	transition: all .2s ease-in-out;
	font-weight: 400;
	color: #333;
	background-color: #e5e5e5;
}
.content .panel.theme-main {
	margin-bottom: 20px ;
}